

<template>
  <h1>{{ msg }}<span>111</span></h1>
  hello word
</template>


<script  lang="ts">
import { onBeforeMount, onMounted } from "vue";

export default {
  setup() {
    onBeforeMount(() => {
      // beforeMount代码执行
    });
    onMounted(() => {
      // mounted代码执行
    });
  },
};
</script>
<style lang="scss"  scoped>
h1 {
  span {
    color: red;
    background: $orange;
  }
}
</style>

